{% extends "front-end/main.twig" %}

{% block title %}title{% endblock %}

{% block content %}

    {% for article in articles %}
    <article class="entry">

              <div class="entry-img">
                <img src="{{ article.image_url }}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="/blog/{{ article.id }}">{{ article.title }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">Василий пупкин{{ article.Autor }}</a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01">{{ article.data |date("d-m-Y")  }}</time></a></li>
                  <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{ article.intro }}
                </p>
                <div class="read-more">
                  <a href="/blog/{{ article.id }}">Подробнее..</a>
                </div>
              </div>

            </article><!-- End blog entry -->
    {% endfor %}
    {% include ('front-end/inc/pagination.twig' ) %}
{% endblock %}